/* common */

.grey {
	color: #82898d;
}
.yellow {
	color: #ffb400;
}
.red {
	color: #ff5a5f;
}
.green {
	color: #63c736;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: both;
}


/*h1 标题*/
h1{
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	background-color: #37ce87;
	margin-bottom: 2px;
}


/*  下方    公司声明*/
.explain{
	margin-top: 9px;
	margin-bottom: 9px;
	font-size: 10px;
	color: #999;
	text-align: center;
}